
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is about page</h1>

    <!-- div is a host tag -->
    <div th:insert="~{base :: parent}"></div>  
    <!-- th:insert is a thymeleaf attribute that is used to insert the content of the parent fragment into the child fragment. -->
    <!-- ~{base :: parent} is a thymeleaf expression that is used to refer to the parent fragment. -->

    <!-- div is a host tag -->
     

    
</body>
</html>